<h1>
Balcão de Empregos
</h1>
<%if employee_signed_in?%>
  <p>
  <div><%=link_to 'Vagas de emprego', employees_jobs_path%></div>
  </p>
<% else %>
  <p>
  <div><%=link_to 'Vagas de emprego', jobs_path%></div>
  </p>
<%end%>